.card.draggable {
    margin-bottom: 0.5rem;
    cursor: grab;
}
  
.droppable {
    background-color: var(--success);
    min-height: 120px;
    margin-bottom: 0.5rem;
}

.dropzone {
    font-size: 0.5rem;
}

.kanban-board .items {
    max-height: 500px;
    overflow: auto;
    margin: 0 0.1rem
}

.kanban-board .kanban-board .items {
    max-height: 390px;
    overflow: auto;
}

.kanban-board .card-text {
    font-size: 0.8rem;
}

.kanban-board .kanban-board .card-text {
    font-size: 0.6rem;
}


/* DARK MODE */
html[data-bs-theme="dark"] .kanban-board {
    filter: invert(1);
}

html[data-bs-theme="dark"] .kanban-board .items {
    box-shadow: inset;
    filter: invert(1);
}

html[data-bs-theme="dark"] .kanban-board .card-body .p-2 {
    filter: invert(1);
}

html[data-bs-theme="dark"] .card .draggable {
    background-color: inherit;
    border-color: inherit;
}
