.custom-link-tile2_image {
  height: 150px;
  text-align:center;
  width: 80%;
}

.custom-link-tile2_image img {
  /*height: auto;*/
  max-height: 150px;
  max-width: 100%;
  width: auto;
  height: auto;
  vertical-align: unset;
}

.custom-link-tile2_image::before{
  color: #14866d;
  z-index: 1;
  content: attr(data-icon-1);
  font-size: 50px; 
  letter-spacing: 0px;
  vertical-align: middle;
  /* does not work in Edge/Chrome
  writing-mode: vertical-rl;
  transform: rotate(180deg);*/ 
}

.custom-link-tile2_image{
  color: #14866d;
  z-index: 1;
  font-size: 100px; 
  vertical-align: middle;
  width: 100%;
  min-width: 220px;
}

/* remove space between main icon and right icon on if right icon is set */
.custom-link-tile2_image[data-icon-2]:not([data-icon-2=""])
{
  letter-spacing: -50px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.custom-link-tile2_image::after{
  color: #2a4b8d;
  content: attr(data-icon-2);
  font-size: 50px; 
  letter-spacing: 0px;
  font-weight: 600;
  text-shadow: -1px -1px 0 #FFF, 1px -1px 0 #FFF, -1px 1px 0 #FFF, 1px 1px 0 #FFF;

  vertical-align: top;
  position: relative;
  top: 60px;
}

.custom-link-tile2_btn {
  text-align: center;
  display: table-row;
  vertical-align: bottom;
  height: 50px;
}

.custom-link-tile2_content .custom-link-tile2_btn a{
  color: #ffffff !important;
  text-decoration-line: none;
  font-style: unset;
  padding: 0.8rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 600;
  display: block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  background-image: none !important;
}

.custom-link-tile2_btn a:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.custom-link-tile2_grid {
  display: flex !important; /* otherwise overwritten by reveal.js */
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.custom-link-tile2_item {
  display: flex;
  padding: 1rem;
  border-radius: 1.25rem;
}

@media (min-width: 300px) {
  .custom-link-tile2_item {
    width: 100%;
  }
}

@media (min-width: 600px) {
  .custom-link-tile2_item {
    width: 50%;
  }
}

@media (min-width: 1200px) {
  .custom-link-tile2_item {
    width: 33.3333%;
  }
}

@media (min-width: 1800px) {
  .custom-link-tile2_item {
    width: 25%;
  }
}

@media (min-width: 2100px) {
  .custom-link-tile2_item {
    width: 20%;
  }
}

.custom-link-tile2 {
  width: 100%;
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.custom-link-tile2_content {
  height: 100%;
  padding: 1rem;
  background: linear-gradient(to bottom left, #14866d 40%, #2a4b8d 100%);
  display: table;
}

.custom-link-tile2_content a{
  color: #ffffff !important;
  text-decoration-line: underline;
  font-style: italic;
}

.custom-link-tile2_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.custom-link-tile2_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}